{% extends "base.html" %}
{% load static %}

{% block content %}

<section>

    <div class="bg-content-show-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="mt-3">
                        <p class="font_16" style="font-weight: bold">آمورش درگاه ملی مجوزها</p>
                    </div>



                        <img src="{% static "img/mojavvez.jpg" %}" class=" new-content new-content-res " >



                    <div class="text-p-line-left">

                        <div class="row">
                            <div class="col-12"> </div>
                        </div>




                        <p class="font_15 mt-4">
                            راهنمای ثبت درخواست صدور پروانه کسب واحدهای صنفی ثبت‌محور و تاییدمحور


اتاق اصناف ایران در اطلاعیه ای به آگاهی اتحادیه ها و واحدهای صنفی می رساند:
نظر به تغییرات ایجاد شده در قوانین، لازم است متقاضیان صدور پروانه کسب در دو مرحله اقدام کنند که مرحله اول، مراجعه به درگاه ملی مجوزها به نشانی<a href="http://mojavez.ir">http://mojavez.ir</a> و مرحله دوم، سامانه نوین اصناف به نشانی <a href="http://novin.iranianasnaf.ir">http://novin.iranianasnaf.ir</a> است. به این ترتیب خلاف روال گذشته نیازی به مراجعه حضوری به اتحادیه ها برای طی مراحل این درخواست نخواهد بود اما همچنان اتحادیه های صنفی پاسخگوی نیازها و مشکلات واحدهای صنفی خواهند بود.

حذف تشکیل پرونده‌های کاغذی ‌: در فرایند مذکور، تشکیل پرونده کاغذی برای متقاضیان حذف شده است و کلیه مدارک و مستندات به صورت الکترونیک در داخل محیط کاربری متقاضیان بارگذاری خواهد شد.

ثبت درخواست توسط متقاضی : در فرایند جدید همه اقدامات مرتبط با ثبت درخواست توسط متقاضی و در داخل پنل کاربری وی در سامانه نوین اصناف انجام خواهد گرفت. یعنی هر متقاضی یک محیط کاربری اختصاصی همانند اینترنت بانک دارد که می‌تواند امورات صنفی خود را مدیریت نماید.

                        </p>
                    </div>




{% endblock %}
