<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-md-inline-block d-none ">
                <div class="row">
                    <div class="col-2 mt-5">
                        <a class="style-title-footer">
                            اتاق اصناف سیرجان
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a href="{% url "NewsApp:AllNews" %}" class="hover-txt-footer">
                                    عناوین کل خبر
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url "NewsApp:all-image-gallery" %}" class="hover-txt-footer">
                                    گالری تصاویر
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url "EventsApp:EventApp" %}" class="hover-txt-footer">
                                    رویدادها
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a class="style-title-footer">
                            بین الملل
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a class="hover-txt-footer">
                                    بین الملل
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    ایران
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    خاور میانه
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a class="style-title-footer">
                            سیاسی
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a class="hover-txt-footer">
                                    ورزشی
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    فوتبال و فوتسال
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    توپ و تور
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a class="style-title-footer">
                            اجتماعی
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a class="hover-txt-footer">
                                    شهری
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    حوادث و انتظامی
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    رفاه و تعاون
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a class="style-title-footer">
                            اقتصادی
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a class="hover-txt-footer">
                                    بانک و بیمه
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    بورس
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    صنعت، تجارتو کشاورزس
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 mt-5">
                        <a class="style-title-footer">
                            فرهنگی هنری
                        </a>
                        <ul class="px-0 mt-2 line-height-footer" style="list-style: none">
                            <li class="">
                                <a class="hover-txt-footer">
                                    رادیو تلویزیون
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    سینما و تئاتر
                                </a>
                            </li>
                            <li class="">
                                <a class="hover-txt-footer">
                                    موسیقی و هنر های تجسمی
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="border-top-footer">
            <div class="row">

                <div class="col-md-6 col-12 text-md-right text-center">

                </div>

                <div class="col-md-6 col-12 text-center ">

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="bg-footer">
        <div class="container">
            <div class="row">

                <div class="col-12  col-md-6">
                    <div class="text-center text-md-right font_13 font-weight-bold">

                        کلیه حقوق این سایت متعلق به اتاق اصناف سیرجان بوده و استفاده از مطالب آن با ذکر منبع بلامانع
                        است.

                    </div>
                </div>

                <div class="col-12  col-md-6">
                    <div class="text-center text-md-left font_13 font-weight-bold mt-2 mt-md-0">


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>