{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>اتاق اصناف سیرجان</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link href="{% static "css/style001.css" %}" type="text/css" rel="stylesheet">

    <link href="{% static "css/hircana.css" %}" type="text/css" rel="stylesheet">
</head>