{% load static %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="header-border-top p-1" style="color: #5e5e5e">

                 {{ date }}
                <span class="mx-2 ">

                </span>

            </span>
            <span>
                {% if request.user.is_authenticated %}
                    <a href="{% url "UserPanelApp:userpanel" %}" class="header-btn-border">
                    ناحیه کاربری
                </a>
                {% else %}
                    <a href="{% url "AcountApp:login" %}" class="header-btn-border">
                    ناحیه کاربری
                </a>
                {% endif %}
            </span>


        </div>
    </div>
</div>


<!--begin menu -->
<div class="container">

    <div class="row ">

        <div class="col-lg-2 col-md-4 col-12 mt-sm-2 order-md-1 order-lg-1">
            <div class="text-center">
                <a href="{% url "HomeApp:HomeApp" %}">
                    <img src="{% static "img/logoheder.png" %}" class="img-fluid ">
                </a>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 col-12 order-md-3 order-lg-2">
            <div class="  ">
                <img src="{% static "img/0110.jpg" %}" class="img-fluid mb-3">
            </div>
        </div>

        <div class="col-lg-3 col-md-8 col-12 order-md-2 order-lg-3">
            <div class="top-search margin-search mt-md-5 mt-lg-4">
                <form method="get" action="{% url "HomeApp:serach" %}">

                    <input name="q" required type="text" class="form-control" placeholder="جستجو">
                    <button type="submit" class="bg-search">
                        <i class="fa fa-search icon-header-color "></i>
                    </button>
                </form>


            </div>
{#            <hr>#}
{#            <br>#}
{#            <a href="{% url "UserPanelApp:userpanel" %}" class="header-btn-border">#}
{#                    ناحیه کاربری#}
{#                </a>#}


        </div>
    </div>

</div>

<nav class="navbar navbar-expand-lg bg-nav-color sticky-top header  mt-2 ">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav pr-lg-0">


                <div class="dropdown show">
                    <a class="btn  text text-dark" href="{% url "HomeApp:HomeApp" %}">
                        صفحه اصلی
                    </a>
                </div>

                <div class="dropdown show">
                    <a class="btn dropdown-toggle text text-dark" href="{% url "GuildRoomApp:List" %}" role="button"
                       id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        اتحادیه ها و کمیسیون ها
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url "GuildRoomApp:List" %}">اتحادیه ها</a>
                        <a class="dropdown-item" href="{% url "GuildRoomApp:Comision-list" %}">کمیسیون ها</a>
                        <a class="dropdown-item" href="{% url "supervisionApp:All-Supervision" %}">نظارت و بازرسی</a>
                        <a class="dropdown-item" href="{% url "ContactByMeappd:Lost-Precious" %}">اشیاء گم شده</a>
                        <a class="dropdown-item" href="{% url "ContactByMeappd:work-force" %}">نیروکار</a>
                    </div>
                </div>


                <div class="dropdown show">
                    <a class="btn dropdown-toggle text text-dark" href="{% url "GuildRoomApp:List" %}" role="button"
                       id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        هیئت رئیسه
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url "GuildRoomApp:MemberOfUnionList" %}">اعضای هیئت رئیسه
                            اتاق اصناف سیرجان</a>
                        <a class="dropdown-item" href="">چارت سازمانی اتاق اصناف
                            سیرجان</a>

                    </div>
                </div>


                <div class="dropdown show">
                    <a class="btn  text text-dark" href="{% url "EventsApp:EventApp" %}">
                        رویداد
                    </a>
                </div>



                <div class="dropdown show">
                    <a class="btn dropdown-toggle text text-dark" role="button"
                       id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        قوانین و مقررات
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url "GuildRoomApp:MemberOfUnionList" %}">اخبار قوانین و مقررات</a>
                        <a class="dropdown-item" href="{% url "RulesApp:rule-senf" %}">قوانین نظام صنفی</a>
                        <a class="dropdown-item" href="{% url "RulesApp:instructions" %}">دستورالعمل ها</a>
                        <a class="dropdown-item" href="{% url "RulesApp:Rules" %}">دریافت فایل</a>
                        <a class="dropdown-item" href="{% url "RulesApp:Regulations" %}"> آیین نامه های اجرائی</a>
                        <a class="dropdown-item" href=""> بخشودگی جرایم بیمه کارفرمایان واحدهای تولیدی ، صنعتی و خدماتی و
                            اصناف</a>

                    </div>
                </div>




                  <div class="dropdown show">
                    <a class="btn dropdown-toggle text text-dark" role="button"
                       id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        درباره ما
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url "AboutUsApp:About" %}">درباره ما</a>
                        <a class="dropdown-item" href="{% url "GuildRoomApp:MemberOfUnionList" %}">تاریخچه</a>
                        <a class="dropdown-item" href="{% url "NewsApp:all-image-gallery" %}">گالری</a>
                        <a class="dropdown-item" href="{% url "ContactByMeappd:conatctByMeView" %}">تماس با ما</a>
                    </div>
                </div>





                <div class="dropdown show">
                    <a class="btn dropdown-toggle text text-dark" role="button"
                       id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        درگاه ملی مجوزها
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="https://mojavez.ir">ورود به درگاه ملی مجوزها</a>
                        <a class="dropdown-item" >اموزش درگاه ملی مجوزها</a>

                    </div>
                </div>


                <div class="dropdown show">
                    <a class="btn  text text-dark">
                        سامانه چارسو
                    </a>
                </div>


            </ul>
        </div> <!-- navbar-collapse.// -->
    </div>
</nav>

<!--end menu-->