{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>اتاق اصناف سیرجان</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link href="{% static "css/style001.css" %}" type="text/css" rel="stylesheet">

    <link href="{% static "css/hircana.css" %}" type="text/css" rel="stylesheet">



    <!-- plugin-------------------------------------->




    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}">

</head>
<body >
<!--begin header -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="header-border-top p-1" style="color: #5e5e5e">

                 {{ date }}
                <span class="mx-2 ">
                    {{ time }}
                </span>

            </span>
            <span>
                <a class="header-btn-border">
                    سیرجان
                </a>
            </span>


        </div>
    </div>
</div>
<!--end header -->




<!--begin menu -->
<div class="container">

    <div class="row ">

        <div class="col-lg-2 col-md-4 col-12 mt-sm-2 order-md-1 order-lg-1">
            <div class="text-center">
                <a href="{% url "HomeApp:HomeApp" %}">
                    <img src="{% static "img/logoheder.png" %}" class="img-fluid "  >
                </a>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 col-12 order-md-3 order-lg-2">
            <div class="  ">
                <img src="{% static "img/0110.jpg" %}" class="img-fluid mb-3">
            </div>
        </div>

        <div class="col-lg-3 col-md-8 col-12 order-md-2 order-lg-3">
            <div class="top-search margin-search mt-md-5 mt-lg-4">
                <form method="get" action="https://netpen.ir/ordibehesht/search">
                    <input name="serch" type="text" class="form-control" placeholder="جستو جو در همه اخبار">
                    <button type="button" name="button" class="bg-search">
                        <i class="fa fa-search icon-header-color "></i>
                    </button>
                </form>
            </div>


        </div>
    </div>

</div>

<nav class="navbar navbar-expand-lg bg-nav-color sticky-top header  mt-2 ">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav pr-lg-0">
                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" href="{% url "HomeApp:HomeApp" %}" >صفحه اصلی</a>

                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link  nav-text-color pb-3" href="{% url "GuildRoomApp:List" %}" >اتحادیه ها و کمیسیون ها</a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="{% url "GuildRoomApp:List" %}"> اتحادیه ها</a></li>
                        <li><a class="dropdown-item" href="{% url "GuildRoomApp:Comision-list" %}">لیست کمیسیون ها </a></li>
                        <li><a class="dropdown-item" >اشیاء گم شده </a></li>
						 <li><a class="dropdown-item" >نیروکار </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link  nav-text-color pb-3">هیئت رئیسه </a>
                    <ul class="dropdown-menu fade-up">

                        <li><a class="dropdown-item" >اعضای هیئت رئیسه اتاق اصناف سیرجان</a></li>
                        <li><a class="dropdown-item" >چارت سازمانی اتاق اصناف سیرجان </a></li>

                    </ul>
                </li>


                <li class="nav-item dropdown ">
                    <a class="nav-link  nav-text-color pb-3">رویداد </a>
                    <ul class="dropdown-menu fade-up">

                        <li><a class="dropdown-item" >دوره آموزشی</a></li>
                        <li><a class="dropdown-item" >همایش </a></li>
						 <li><a class="dropdown-item" >سمینار</a></li>
						 <li><a class="dropdown-item" >جشنواره</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3"> قوانین و مقررات  </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" >اخبار قوانین و مقررات</a></li>
                        <li><a class="dropdown-item" >قوانین نظام صنفی</a></li>
                        <li><a class="dropdown-item" >دستورالعمل ها</a></li>
						<li><a class="dropdown-item" >دریافت فایل</a></li>
                        <li><a class="dropdown-item" >آیین نامه های اجرائی</a></li>
                        <li><a class="dropdown-item" >بخشودگی جرایم بیمه کارفرمایان واحدهای تولیدی ، صنعتی و خدماتی و اصناف</a></li>
                    </ul>
                </li>



                <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" > درباره ما </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" >تاریخچه</a></li>
                        <li><a class="dropdown-item" >گالری </a></li>
						  <li><a class="dropdown-item" >تماس با ما</a></li>

                    </ul>
                </li>
				  <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" >درگاه ملی مجوزها  </a>
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="https://mojavez.ir">  ورود به درگاه ملی مجوزها</a></li>
                        <li><a class="dropdown-item">اموزش درگاه ملی مجوزها </a></li>

                    </ul>


                </li>
				   <li class="nav-item dropdown ">
                    <a class="nav-link nav-text-color pb-3" >سامانه چارسو </a>
<!--
                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">تاریخچه</a></li>
                        <li><a class="dropdown-item" href="#">تماس با ما </a></li>

                    </ul>
-->
                </li>







            </ul>
        </div> <!-- navbar-collapse.// -->
    </div>
</nav>