{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->

    <link rel="stylesheet" href="{% static "events/css/main1.css" %}">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{% static "img/logoheder.png" %}" sizes="32x32">
    <link rel="apple-touch-icon" href="{% static "events/icon/favicon-32x32.png" %}">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">


    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link href="{% static "css/style001.css" %}" type="text/css" rel="stylesheet">

</head>
<body>

{% include "include/header.html" %}


<div class="container-fluid">
    <div class="row row--grid">

        <!-- end breadcrumb -->

        <!-- title -->
        <div class="col-12">
            <div class="main__title main__title--page">
                <h1>اخبار</h1>
            </div>
        </div>
        <!-- end title -->
    </div>

    <div class="row row--grid">
        <div class="col-12">


            <div class="row row--grid">

                {% for item in object_list %}
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="event" data-bg="{{ item.image.url }}">
                        <a href="{{ item.get_absolut_url }}" class="event__ticket open-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M9,10a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V11A1,1,0,0,0,9,10Zm12,1a1,1,0,0,0,1-1V6a1,1,0,0,0-1-1H3A1,1,0,0,0,2,6v4a1,1,0,0,0,1,1,1,1,0,0,1,0,2,1,1,0,0,0-1,1v4a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V14a1,1,0,0,0-1-1,1,1,0,0,1,0-2ZM20,9.18a3,3,0,0,0,0,5.64V17H10a1,1,0,0,0-2,0H4V14.82A3,3,0,0,0,4,9.18V7H8a1,1,0,0,0,2,0H20Z"/>
                            </svg>
                            جزئیات</a>

                        <span class="event__time">{{ item.get_jalali_date }}</span>
                        <h3 class="event__title"><a href="{{ item.get_absolut_url }}">{{ item.title }}</a></h3>

                    </div>
                </div>
                {% endfor %}


            </div>

            <div class="row row--grid">
                <div class="col-12">
                    <br>
                    <br>
                    <br>
                    <nav aria-label="Page navigation example">
                        {% if is_paginated %}
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% url "EventsApp:event-list" %}?page={{ page_obj.previous_page_number }}" tabindex="-1">قبلی</a>
                            </li>
                             {% else %}
                                <li class="page-item disabled">
                                <a class="page-link" tabindex="-1">قبلی</a>
                            </li>
                            {% endif %}



                            <li class="page-item"><a class="page-link" href="#">صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</a></li>

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{% url "EventsApp:event-list" %}?page={{ page_obj.next_page_number }}">بعدی</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}

                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- partners -->
    <div class="row">
        <div class="col-12">
            <div class="partners owl-carousel">
                <a href="#" class="partners__img">
                    <img src="img/partners/3docean-light-background.png" alt="">
                </a>

                <a href="#" class="partners__img">
                    <img src="img/partners/activeden-light-background.png" alt="">
                </a>

                <a href="#" class="partners__img">
                    <img src="img/partners/audiojungle-light-background.png" alt="">
                </a>

                <a href="#" class="partners__img">
                    <img src="img/partners/codecanyon-light-background.png" alt="">
                </a>

                <a href="#" class="partners__img">
                    <img src="img/partners/photodune-light-background.png" alt="">
                </a>

                <a href="#" class="partners__img">
                    <img src="img/partners/themeforest-light-background.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- end partners -->
</div>


{% include "include/footer.html" %}

<div class="scrolltop" onclick="scroll_top()">
    <i class="fa fa-chevron-up arrow_icon" style="color: #333"></i>
</div>


<script src="{% static "js/jquery.2.1.0.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/popper.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/owl.carousel.js" %}"></script>
<script src="{% static "js/js.js" %}" type="text/javascript"></script>


<script src="{% static "assets/js/vendor/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "assets/js/vendor/bootstrap.js" %}"></script>
<!-- plugin----------------------------------------------------->
<script src="{% static "assets/js/vendor/owl.carousel.min.js" %}"></script>
<script src="{% static "assets/js/vendor/jquery.countdown.js" %}"></script>
<script src="{% static "assets/js/vendor/jquery.nice-select.min.js" %}"></script>
<script src="{% static "assets/js/vendor/jquery.jqZoom.js" %}"></script>
<!-- main js---------------------------------------------------->
<script src="{% static "assets/js/main.js" %}"></script>
<script src="{% static "events/js/owl.carousel.min.js" %}"></script>
<script src="{% static "events/js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "events/js/smooth-scrollbar.js" %}"></script>
<script src="{% static "events/js/select2.min.js" %}"></script>
<script src="{% static "events/js/slider-radio.js" %}"></script>
<script src="{% static "events/js/jquery.inputmask.min.js" %}"></script>
<script src="{% static "events/js/plyr.min.js" %}"></script>
<script src="{% static "events/js/main.js" %}"></script>
</body>

</html>