{% extends "base.html" %}
{% load static %}


{% block content %}

    <section>

        <div class="bg-content-show-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-12">
                        <div class="mt-3">
                            <p class="font_16" style="font-weight: bold">{{ object.title }}</p>
                        </div>


                        <a href="{{ object.get_absolut_url }}">
                            <img src="{{ object.image.url }}" class="img-fluid ">
                        </a>


                        <div class="text-p-line-left">




                            <p class="font_15 mt-4">
                                {{ object.body | safe }}
                            </p>


                        </div>

                        <div class="clearfix"></div>

                        <div class="text-center">
                            <hr>
                            <br>
                            <br>
                            <a>
                                {% if object.video %}

                                    <video width="600" height="400" controls>
                                        <source src="{{ object.video.url }}" type="video/mp4">


                                    </video>
                                {% else %}
                                    <img src="{{ object.image.url }}" class="img-fluid">
                                {% endif %}
                            </a>
                        </div>

                        <div class="mt-2">
                            <div class="bg-color-box">
                                <div class="row">
                                    <div class="col-6">
                                    <span class="float-right">
                                        <i class="fa fa-link"></i>
                                        <span class="mr-2">
                                            اتاق اصناف سیرجان
                                        </span>
                                    </span>
                                    </div>
                                    <div class="col-6">
                                    <span class="float-left">
                                            <div class="style-li">

                                            </div>

                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                            <span>
                                <ul class="style-ul style-li p-0">
                                    <span class="style-tag">
                                        برچسب ها :
                                    </span>

                                    {% for item in object.category.all %}
                                        <li>
                                    <a style="color: #000" class="mr-2">
                                        {{ item }}
                                    </a>
                                </li>
                                    {% endfor %}

                            </ul>

                            </span>

                            </div>
                        </div>

                        <section>
                            <div class="mt-5">
                                <div class="circle-title"></div>
                                <span class="sab-news">اخبار مرتبط</span>
                            </div>
                            <div class="mt-2">
                                <div class="row">
                                    {% for item in related_news %}
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="border-sab-news">
                                                <p>{{ item.title }}</p>
                                                <a href="{{ item.get_absolut_url }}">
                                                    <div class="circle-titr"></div>
                                                    <span class="font_15 style-text-sab-news">
                     									{{ item.show_title | safe }}
                                            </span>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="mt-5">
                                <div class="circle-title"></div>
                                <span class="sab-news">اخبار پیشنهادی</span>
                            </div>
                            <div class="mt-2">
                                <div class="row">
                                    {% for item in last_news|slice:"0:8" %}
                                        <div class="col-md-3 col-6">
                                            <div class="row">
                                                <div class="col-12 mt-3">
                                                    <div class="style-text">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <a href="{{ item.get_absolut_url }}"
                                                                   class="img-news-teldio">
                                                                    <img src="{{ item.image.url }}" class="img-fluid">
                                                                </a>

                                                            </div>
                                                            <div class="col-12  mt-3">

                                                                <a href="{{ item.get_absolut_url }}">
                                                                    <div class="circle-title"></div>

                                                                    <p class=" text-p font_14 mb-1 style-tittle">
                                                                        {{ item.title }}

                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                        </section>


                        <section>
                            <div class="mt-5">
                                <div class="circle-title"></div>
                                <span class="style-text-comment">تبادل نظر</span>
                            </div>
                            <div class="mt-2">
                                {% if request.user.is_authenticate %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="border-sab-news">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <div class="py-2">
                                                            <span class="frm-name">نام:</span>
                                                        </div>
                                                        <div>
                                                            <input class="form-control" type="text" name="name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <div class="py-2">
                                                            <span class="frm-name">ایمیل:</span>
                                                            <span class="font_12" style="float: left">ایمیل خود را با فرمت مناسب وارد کنید</span>
                                                        </div>
                                                        <div>
                                                            <input class="form-control" type="email" name="email">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="py-2">
                                                            <span class="frm-name">نظر:</span>
                                                        </div>

                                                        <div>
                                                        <textarea class="form-control w-100" type="text"
                                                                  name="body"></textarea>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-default font_12"
                                                            name="submitbutt"
                                                            style="color: #fff">
                                                        ارسال نظر
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {% else %}
                                    <p class="alert alert-danger">برای ثبت نظر باید وارد حساب کاربری خود شوید</p>
                                {% endif %}

                            </div>
                        </section>
                    </div>


                    <div class="col-lg-3 d-lg-inline-block d-none">

                        <div class="bg-content-red border mt-3">


                            <a class="nav-link color-btn nav nav-tabs aaa" data-toggle="tab" href="#home1"
                               style="text-align: center">پربیننده ترین ها</a>


                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane  active " id="home1">

                                    {% for item in more_view|slice:"0:10" %}
                                        <div class="px-3 pt-2 pb-1">
                                            <a href="{{ item.get_absolut_url }}">
                                                <div class="circle-titr"></div>
                                                <span class="font_12 color-text">
                                                {{ item.title }}
                                        </span>
                                            </a>
                                        </div>
                                    {% endfor %}

                                </div>


                            </div>
                        </div>


                        <div class="mt-3">
                            <div class="bg-white">
                                <div class="px-3">
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-12 mt-3 ">
                                                <div class="bg-style-soozhe ">
                                                    <div class="circle-end-news"></div>

                                                    <span class="end-news">آخرین اخبار</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="row">

                                        {% for item in last_news|slice:"0:10" %}
                                            <div class="col-12">
                                                <div class="py-2">
                                                    <a href="{{ item.get_absolut_url }}">
                                                <span class="font_13 color-text">
                    {{ item.title }}
                                            </span>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
