{% load static %}
{% load jformat %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">


    <!-- font---------------------------------------->
    <link rel="stylesheet" href="{% static "assets/css/vendor/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/materialdesignicons.css" %}">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="{% static "assets/css/vendor/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/noUISlider.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/nice-select.css" %}">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>اتاق اصناف سیرجان</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link href="{% static "css/style001.css" %}" type="text/css" rel="stylesheet">

    <link href="{% static "css/hircana.css" %}" type="text/css" rel="stylesheet">
</head>

<body>

{% include "include/header.html" %}


<div class="container-main">
        <div class="d-block">
            <section class="profile-home">
                <div class="col-lg">
                    <div class="post-item-profile order-1 d-block">
                        {% include "include/post-item.html" %}
                        <div class="col-lg-9 col-md-9 col-xs-12 pl">
                            <div class="profile-content">
                                <div class="profile-stats">
                                    <div class="table-orders">

                                        <table class="table table-profile-orders">
                                            <thead class="thead-light">
                                                <tr>

                                                    <th scope="col">عنوان</th>
                                                    <th scope="col">زمان برگذاری</th>
                                                    <th scope="col">قیمت</th>
                                                    <th scope="col">دسته بندی</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in order.event.all %}
                                                <tr>

                                                    <td>{{ item.title }}</td>
                                                    {% if item.is_can_register %}
                                                    <td class="Waiting text-success">{{ item.the_date_of_the_event | timeuntil }} دیگر </td>
                                                        {% else %}
                                                        <td class="Waiting text-danger">برگزار شده</td>
                                                        {% endif %}
                                                    <td class="totla">
                                                        <span class="amount">{{ item.get_price }}
                                                            <span>تومان</span>
                                                        </span>
                                                    </td>
                                                <td class="order-code">{{ item.categoryevent }}</td>
 
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


{% include "include/footer.html" %}


<div class="scrolltop" onclick="scroll_top()">
    <i class="fa fa-chevron-up arrow_icon" style="color: #333"></i>
</div>


<script src="{% static "js/jquery.2.1.0.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/popper.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/owl.carousel.js" %}"></script>
<script src="{% static "js/js.js" %}" type="text/javascript"></script>


</body>
<!-- file js---------------------------------------------------->
<script src="{% static "assets/js/vendor/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "assets/js/vendor/bootstrap.js" %}"></script>
<!-- plugin----------------------------------------------------->
<script src="{% static "assets/js/vendor/owl.carousel.min.js" %}"></script>
<script src="{% static "assets/js/vendor/jquery.countdown.js" %}"></script>
<script src="{% static "assets/js/vendor/ResizeSensor.min.js" %}"></script>
<script src="{% static "assets/js/vendor/theia-sticky-sidebar.min.js" %}"></script>
<script src="{% static "assets/js/vendor/wNumb.js" %}"></script>
<script src="{% static "assets/js/vendor/nouislider.min.js" %}"></script>
<script src="{% static "assets/js/vendor/jquery.nice-select.min.js" %}"></script>
<!-- main js---------------------------------------------------->
<script src="{% static "assets/js/main.js" %}"></script>
<script>


    $('.dropdown-toggle').dropdown()
</script>

